<div class="container">
    <div class="row">
        <div style="margin-top: 3em;" >
            <div class="row">
                <h3>Company Name free 10 positions</h3>
            </div>
            <h6>Position:Software Engineer</h6> 
            <h6>Qulification: Reading a book, 5 years in school</h6> 

            <div class="cities">
              <h3>Mark Jamy</h3>
            </div>  
          
            <div class="cities">
              <h3>Robert Jame</h3>
            </div>  


            <div class="cities">
              <h3>Robert Jame</h3>
            </div>  
        </div>
    </div>
</div>


