<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="row">
         <button id="logout" type="button" class="btn btn-success btn-responsive" routerLink="/" (click)="logout()">Logout</button>
     </div>
 </nav>
 
 
 <div class="show">
     <h1>type</h1>
     <div class="dropdown">
         <button class="dropbtn">Types</button>
         <div class="dropdown-content">
           <a href="#">Blind</a>
           <a href="#">Deaf</a>
           <a href="#">Physical disable</a>
         </div>
     </div>
     <h2>Place (Company)</h2>
     
 </div>
   <div class="company1">
       <img id="Kt" class="img-responsive" src="assets/Images/Kt.png">
     <p class ="number">จำนวนอัตราที่เปิดรับ : 3</p>
     <h2>บริษัท KT จำกัด</h2>
     <p>ตำแหน่ง : ผู้ช่วยดูแลเด็ก</p>
   </div>
   
   <div class="company2">
     <h2>บริษัท AT จำกัด</h2>
     <p>ตำแหน่ง : เจ้าพนักงานธุรการ</p>
   </div>
   
   <div class="company3">
     <h2>บริษัท BX จำกัด</h2>  
     <p>ตำแหน่ง : เจ้าหน้าที่คีย์ข้อมูล</p>
   </div>
 
   <div class="company2">
       <h2>บริษัท BX จำกัด</h2>
       <p>ตำแหน่ง : เจ้าหน้าที่คีย์ข้อมูล</p>
     </div>
 
     <div class="company1">
         <h2>บริษัท BX จำกัด</h2>
         <p>ตำแหน่ง : เจ้าหน้าที่คีย์ข้อมูล</p>
       </div>